#inital_map_head.span-24.last
 Tour Mate
 #inital_map_head_sub Help you to find your tour destinations
.column.span-6 &nbsp;
.column.span-12.makeBig.elevate
 %h1 Tourmate
 =render 'form'
 =link_to 'Back', maps_path 
.column.span-6 &nbsp;


