.lis {
    text-align: center;
}
body {
    background-color: #dad4b8;
} 
.innerColour {
    background-color:#edeadb;
}
#map_canvas {
    width: 100px;
    height: 200px;
    padding-bottom:10%; 
}
#inital_map_head {
    height: 100px;
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-align: center;
    color: #8a1f11;
}
#inital_map_foot {
    height: 100px;
}
#inital_map_head_sub{
    font-family: 'Tangerine', serif;
    font-size: 30px;
    text-align: center;
    color: #8a1f11;
    
}