html { height: 100%; background-color:#dad4b8; }
body { height: 80%; margin: 0px; padding: 0px; border: 0px;}
#inital_map_head {
    height: 100px;
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-align: center;
    color: #8a1f11;
    text-shadow: 5px 5px 5px #FF0000;
}
#inital_map_head_sub{
    font-family: 'Tangerine', serif;
    font-size: 30px;
    text-align: center;
    color: #8a1f11;
}
.elevate {
    border:2px solid;
    border-radius:25px;
    -moz-border-radius:25px; /* Firefox 3.6 and earlier */
    border-color: #dad4b8;
    box-shadow: 0 0 10px 5px #888888;
    -webkit-box-shadow: 0 0 10px 5px #888888; /* Safari */
}
#map_canvas
 {
    height: 80%;
 }
#for_hide {
    display: none;
    color: #f58c12;
    font-size: 18px;
    padding: 1%;
}
.my-link {
    font-family: 'Tangerine', serif;
    font-size: 40px;
    text-decoration: none;
}
#accordion h3{
    font-family: 'Tangerine', serif;
    font-size: 30px;
}
#directionsPanel{
    padding-left:10%; 
    color: #8a1f11;
    font-family: 'Tangerine', serif;
    font-size: 30px;
}
.foot {
    font-family: 'Tangerine', serif;
    height: 10%;
    font-size: 200%;
    text-align: center;
}
.foot div a {
    text-decoration: none;
    color: #8a1f11;
}
#feed {
   text-align: left;
}
#feed a {
    text-decoration: none;
    color: #8a1f11;
}
#rightColumn {
    display: none;
    margin-left: 5%;
    padding: 1%;
}
.addColour {
    background-color: #f7f6f4;
}
#bottomStrip {
    padding: 1%;
}
#shareButtons {
    padding-left: 6%;
}
#klairvoyant {
    text-align: right;
}