
  <div class="column span-2">
    &nbsp;
  </div>
  <div class="innerColour column span-20">
      
      <div class="column span-6">
        
        
        
      </div> 
      <div id="inital_map_head" class="column span-8">
        
        
          Tour Mate 
         <div id="inital_map_head_sub">
            Help you to find your tour destinations
        </div>
      </div>
      
      <div class="column span-6 last">
          
           
           
      </div> 
      <div class="column span-20 last" >
        <div id="map_canvas">
          
        </div>
          
      </div>
      <div class="column span-2">
          &nbsp;
      </div> 
      <div id="inital_map_foot" class="column span-16">
        
      </div>
      
      <div class="column span-2 last">
          &nbsp;
      </div> 
  </div>
  
  <div class="column span-2 last">
    &nbsp;
  </div>
  

  