<div class="column span-24 last">
  <div class="column span-2">
    &nbsp;
  </div>
  <div class="innerColour column span-20">
    
    <div id="map_canvas" >
      
    </div>
   
  </div>
  
  <div class="column span-2 last">
    &nbsp;
  </div>
  

 </div>
  